Lists, are ordered collections

In [3]:
bicycles = ['trek', 'canondale', 'redline', 'specialized']
print(bicycles)

['trek', 'canondale', 'redline', 'specialized']

In [4]:
print(bicycles[0])

trek

In [7]:
print(bicycles[0].title())

Trek

In [8]:
#accessing last element in the list
print(bicycles[-1])

specialized

In [9]:
message = f"My first bicycle was a {bicycles[0].title()}"
print(message)

My first bicycle was a Trek

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'tvs', 'enfield']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'tvs', 'enfield']

In [3]:
motorcycles[0]='ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield']

In [5]:
motorcycles.append('jawa')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'jawa']

In [6]:
roadcycles=[]
roadcycles.append('giant')
roadcycles.append('peloton')
roadcycles.append('trek')
print(roadcycles)

['giant', 'peloton', 'trek']

In [7]:
len(motorcycles)

7

In [8]:
motorcycles.insert(6,'ktm')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'jawa']

In [10]:
motorcycles.insert(7,'honda')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'honda', 'honda', 'jawa']

In [11]:
del motorcycles[7]
del motorcycles[8]
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'honda']

In [12]:
popped_item = motorcycles.pop()
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm']

In [13]:
print(popped_item)

honda

In [14]:
first_item = motorcycles.pop(0)
print(motorcycles)
print(first_item)

['yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm']
ducati

In [15]:
print(f"The first motorcycle I owned was a {first_item.title()}.")

The first motorcycle I owned was a Ducati.

In [16]:
last_item = motorcycles.remove('ktm')
print(motorcycles)
print(last_item)

['yamaha', 'suzuki', 'tvs', 'enfield', 'jawa']
None

In [17]:
too_expensive = 'yamaha'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['suzuki', 'tvs', 'enfield', 'jawa']

A Yamaha is too expensive for me.

The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop
to make sure all occurrences of the value are removed.

In [22]:
del motorcycles[len(motorcycles)-1]
print(motorcycles)

['suzuki', 'tvs', 'enfield']

In [23]:
cars = ['bmw','audi','toyota','tata','mahindra','maruti']
print(cars)
cars.sort()
print(f"\n{cars}")

['bmw', 'audi', 'toyota', 'tata', 'mahindra', 'maruti']

['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

In [24]:
cars.sort(reverse=True)
print(cars)

['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

In [27]:
print("Original List of cars:")
print(cars)

print("\n The sorted list of cars:")
print(sorted(cars))

print("\nOriginal list again:")
print(cars)

Original List of cars:
['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

 The sorted list of cars:
['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

Original list again:
['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

In [28]:
cars.reverse()
print(cars)

['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

sort() -> sorts the list in ascending order and changes it permanently. </br>
sort(reverse=True)-> sorts the list in reverse order and changes it permanently. </br>
sorted([List]) -> sorts the list, and does not change it permanently. </br>
sorted([List],reverse=True) -> if you want to display a list in reverse-alphabetical order.</br>
[List].reverse() -> If you would like to reverse the original order of the list. reverse() does not sort backwards, it simply reverses the order of the list. </br>

In [29]:
len(cars)

6

In [30]:
#To get the last car
print(cars[-1])

toyota

In [31]:
#error if you try to get the last element from an empty list
dummy=[]
print(dummy[-1])

IndexError: list index out of range

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [2]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [3]:
for value in range(1,5):
    print(value)

1
2
3
4

In [4]:
for value in range(5):
    print(value)

0
1
2
3
4

In [5]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [8]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [18]:
squares = [x**2 for x in range(1,11)] #this approach is called as list comprehension
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
players = ['ronaldo','messi','peter gade','lcw','taufik','lin dan','hyun il']
print(players[0:3])

['ronaldo', 'messi', 'peter gade']

In [20]:
print(players[1:4])

['messi', 'peter gade', 'lcw']

In [21]:
print(players[:4])

['ronaldo', 'messi', 'peter gade', 'lcw']

In [22]:
print(players[2:])

['peter gade', 'lcw', 'taufik', 'lin dan', 'hyun il']

In [23]:
print(players[-3:])

['taufik', 'lin dan', 'hyun il']

In [24]:
print(players[-1:])

['hyun il']

In [26]:
print("Looping through a slice or first 4 elements in the list\n")
for player in players[:4]:
    print(player.title())

Looping through a slice or first 4 elements in the list

Ronaldo
Messi
Peter Gade
Lcw