Lists, are ordered collections

In [3]:
bicycles = ['trek', 'canondale', 'redline', 'specialized']
print(bicycles)

['trek', 'canondale', 'redline', 'specialized']

In [4]:
print(bicycles[0])

trek

In [7]:
print(bicycles[0].title())

Trek

In [8]:
#accessing last element in the list
print(bicycles[-1])

specialized

In [9]:
message = f"My first bicycle was a {bicycles[0].title()}"
print(message)

My first bicycle was a Trek

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'tvs', 'enfield']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'tvs', 'enfield']

In [3]:
motorcycles[0]='ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield']

In [5]:
motorcycles.append('jawa')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'jawa']

In [6]:
roadcycles=[]
roadcycles.append('giant')
roadcycles.append('peloton')
roadcycles.append('trek')
print(roadcycles)

['giant', 'peloton', 'trek']

In [7]:
len(motorcycles)

7

In [8]:
motorcycles.insert(6,'ktm')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'jawa']

In [10]:
motorcycles.insert(7,'honda')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'honda', 'honda', 'jawa']

In [11]:
del motorcycles[7]
del motorcycles[8]
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm', 'honda']

In [12]:
popped_item = motorcycles.pop()
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm']

In [13]:
print(popped_item)

honda

In [14]:
first_item = motorcycles.pop(0)
print(motorcycles)
print(first_item)

['yamaha', 'suzuki', 'tvs', 'enfield', 'jawa', 'ktm']
ducati

In [15]:
print(f"The first motorcycle I owned was a {first_item.title()}.")

The first motorcycle I owned was a Ducati.

In [16]:
last_item = motorcycles.remove('ktm')
print(motorcycles)
print(last_item)

['yamaha', 'suzuki', 'tvs', 'enfield', 'jawa']
None

In [17]:
too_expensive = 'yamaha'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['suzuki', 'tvs', 'enfield', 'jawa']

A Yamaha is too expensive for me.

The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop
to make sure all occurrences of the value are removed.

In [22]:
del motorcycles[len(motorcycles)-1]
print(motorcycles)

['suzuki', 'tvs', 'enfield']

In [23]:
cars = ['bmw','audi','toyota','tata','mahindra','maruti']
print(cars)
cars.sort()
print(f"\n{cars}")

['bmw', 'audi', 'toyota', 'tata', 'mahindra', 'maruti']

['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

In [24]:
cars.sort(reverse=True)
print(cars)

['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

In [27]:
print("Original List of cars:")
print(cars)

print("\n The sorted list of cars:")
print(sorted(cars))

print("\nOriginal list again:")
print(cars)

Original List of cars:
['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

 The sorted list of cars:
['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

Original list again:
['toyota', 'tata', 'maruti', 'mahindra', 'bmw', 'audi']

In [28]:
cars.reverse()
print(cars)

['audi', 'bmw', 'mahindra', 'maruti', 'tata', 'toyota']

sort() -> sorts the list in ascending order and changes it permanently. </br>
sort(reverse=True)-> sorts the list in reverse order and changes it permanently. </br>
sorted([List]) -> sorts the list, and does not change it permanently. </br>
sorted([List],reverse=True) -> if you want to display a list in reverse-alphabetical order.</br>
[List].reverse() -> If you would like to reverse the original order of the list. reverse() does not sort backwards, it simply reverses the order of the list. </br>

In [29]:
len(cars)

6

In [30]:
#To get the last car
print(cars[-1])

toyota

In [31]:
#error if you try to get the last element from an empty list
dummy=[]
print(dummy[-1])

IndexError: list index out of range

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [2]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [3]:
for value in range(1,5):
    print(value)

1
2
3
4

In [4]:
for value in range(5):
    print(value)

0
1
2
3
4

In [5]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [8]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [18]:
squares = [x**2 for x in range(1,11)] #this approach is called as list comprehension
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
players = ['ronaldo','messi','peter gade','lcw','taufik','lin dan','hyun il']
print(players[0:3])

['ronaldo', 'messi', 'peter gade']

In [20]:
print(players[1:4])

['messi', 'peter gade', 'lcw']

In [21]:
print(players[:4])

['ronaldo', 'messi', 'peter gade', 'lcw']

In [22]:
print(players[2:])

['peter gade', 'lcw', 'taufik', 'lin dan', 'hyun il']

In [23]:
print(players[-3:])

['taufik', 'lin dan', 'hyun il']

In [24]:
print(players[-1:])

['hyun il']

In [26]:
print("Looping through a slice or first 4 elements in the list\n")
for player in players[:4]:
    print(player.title())

Looping through a slice or first 4 elements in the list

Ronaldo
Messi
Peter Gade
Lcw

In [27]:
friends_fav_players = players[:] #making a copy of the list
friends_fav_players.append('Lee Zii Jia')

In [28]:
print(players)
print(friends_fav_players)

['ronaldo', 'messi', 'peter gade', 'lcw', 'taufik', 'lin dan', 'hyun il']
['ronaldo', 'messi', 'peter gade', 'lcw', 'taufik', 'lin dan', 'hyun il', 'Lee Zii Jia']

Tuples : Immutable lists, not like lists[], wont or cannot change

In [32]:
dimensions = (200,50)
print(dimensions)
print(dimensions[0])
print(dimensions[1])

(200, 50)
200
50

In [33]:
dimensions[0]=230 # This will thrown an error, we cannot assigne a new value to an item in a tuple.

TypeError: 'tuple' object does not support item assignment

In [34]:
for dimension in dimensions:
    print(dimension)

200
50

In [2]:
cars =['mahindra','tata','maruti','force','audi','toyota','mercedes','bmw']
for car in cars:
    if car=='toyota':
        print(car.upper())
    else:
        print(car.title())

Mahindra
Tata
Maruti
Force
Audi
TOYOTA
Mercedes
Bmw

In [4]:
car='Audi'
car=='audi' #Equality checks are case sensitive in Python

False

In [7]:
print(car.lower()=='audi') #Two ways to handle case sensitivity scenario
print(car=='audi'.title())

True
True

In [8]:
requested_topping='mushrooms'
if requested_topping!='anchovies':
    print("Hold the achovies!")

Hold the achovies!

In [9]:
age=18
age==18

True

In [10]:
answer=17
if answer!=42:
    print("This is not the correct answer! Please try again!")

This is not the correct answer! Please try again!

In [11]:
age=19
age<21

True

In [12]:
age<=21

True

In [13]:
age>21

False

In [14]:
age>=21

False

In [15]:
age_0=22
age_1=18
age_0>=21 and age_1>=21

False

In [16]:
age_1=22
age_0>=21 and age_1>=21

True

In [17]:
age_1=18
print(age_0>=21 or age_1>=21)

True

In [22]:
age_0=18
age_1=18
print(age_0>=21 or age_1>=21)

False

In [23]:
toppings =['mushrooms','jalapeno','onions','olives','pineapple']
'olives' in toppings

True

In [28]:
if 'pepperoni' not in toppings:
    print('You are a vegetarian!')

You are a vegetarian!

In [30]:
age=18
if age>=18:
    print("You're old enough to vote!")

In [32]:
age=16
if age>=18:
    print("You're old enough to vote!")
else:
    print("Gotta wait few more years!")

Gotta wait few more years!

In [33]:
age=12
if age<4:
    print("Your admission cost is $0")
elif age<18:
    print("Your admission cost is $25")
else:
    print("Your admission cost is $40")

Your admission cost is $25

In [34]:
age=12
if age<4:
    price=0
elif age<18:
    price=25
else:
    price=40
print(f"Your admission cost is ${price}.")

Your admission cost is $25.

if you want only one block of code to run, use an if-elif-else
chain. If more than one block of code needs to run, use a series of independent if statements.

In [35]:
toppings =['mushrooms','jalapeno','onions','olives','pineapple']

for topping in toppings:
    if topping=='jalapeno':
        print("Sorry! We're out of Jalapeno right now!")
    else:
        print(f"Adding {topping}.")
print("Your pizza is ready!")

Adding mushrooms.
Sorry! We're out of Jalapeno right now!
Adding onions.
Adding olives.
Adding pineapple.
Your pizza is ready!

In [36]:
toppings = []
if toppings:
    for topping in toppings:
        print(f"Adding {topping}.")
    print("Finished making pizza")
else:
    print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

In [39]:
available_toppings =['mushrooms','jalapeno','onions','olives','pineapple']
req_toppings = ['mushrooms','french fries','extra cheese']

for topping in req_toppings:
    if topping in available_toppings:
        print(f"Adding {topping}!")
    else:
        print(f"Sorry,we do not have {topping}.")
print("Your pizza is ready!")

Adding mushrooms!
Sorry,we do not have french fries.
Sorry,we do not have extra cheese.
Your pizza is ready!

In [40]:
available_toppings =('mushrooms','jalapeno','onions','olives','pineapple')
req_toppings = ['mushrooms','french fries','extra cheese']

for topping in req_toppings:
    if topping in available_toppings:
        print(f"Adding {topping}!")
    else:
        print(f"Sorry,we do not have {topping}.")
print("Your pizza is ready!")

Adding mushrooms!
Sorry,we do not have french fries.
Sorry,we do not have extra cheese.
Your pizza is ready!

In [1]:
alien_0={'color':'green','points':5}

In [2]:
print(alien_0['color'])
print(alien_0['points'])

green
5

In [3]:
new_points = alien_0['points']
print(f"You just earned {new_points} points!")

You just earned 5 points!

In [10]:
alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)

{'color': 'yellow', 'points': 5, 'x_position': 0, 'y_position': 25, 'speed': 'medium'}

In [11]:
alien_0['color']='yellow'
print(alien_0)

{'color': 'yellow', 'points': 5, 'x_position': 0, 'y_position': 25, 'speed': 'medium'}

In [13]:
alien_0['speed']='medium'
print(f"Original poisition: {alien_0['x_position']}")

if alien_0['speed']=='slow':
    x_increment=1
elif alien_0['speed']=='medium':
    x_increment=2
else:
    x_increment=3

alien_0['x_position']=alien_0['x_position']+x_increment
print(f"New position :{alien_0['x_position']}")

Original poisition: 2
New position :4

In [14]:
print(f"Before deletion {alien_0}")
del alien_0['x_position']
print(f"After deletion {alien_0}")

Before deletion {'color': 'yellow', 'points': 5, 'x_position': 4, 'y_position': 25, 'speed': 'medium'}
After deletion {'color': 'yellow', 'points': 5, 'y_position': 25, 'speed': 'medium'}

In [15]:
print(f"Before deletion {alien_0}")
del alien_0['y_position']
print(f"After deletion {alien_0}")

Before deletion {'color': 'yellow', 'points': 5, 'y_position': 25, 'speed': 'medium'}
After deletion {'color': 'yellow', 'points': 5, 'speed': 'medium'}

In [16]:
favourite_languages = {
    'jen':'python',
    'sarah':'c',
    'edward':'rust',
    'phil':'python',
}

In [17]:
language = favourite_languages['sarah'].title()
print(f"Sarah's favourite language is {language}.")

Sarah's favourite language is C.

In [18]:
favourite_languages['jen']

'python'

In [19]:
del favourite_languages['jen']

In [20]:
print(favourite_languages)

{'sarah': 'c', 'edward': 'rust', 'phil': 'python'}

In [22]:
point = alien_0.get('x_position', 'No points assigned')
print(point)

No points assigned

In [24]:
point = alien_0.get('x_position')
print